<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- Add any other necessary styles or scripts -->
</head>
<body class="loggedin">
    <nav class="navtop">
        <div>
            <h1>Forgot Password</h1>
        </div>
    </nav>
    <div class="content">
        <form action="{{ url_for('password_reset') }}" method="post">
            <label for="email">
                <i class="fas fa-envelope"></i>
            </label>
            <input type="email" name="email" placeholder="Email Address" id="email" required>
            <div class="msg">{{ get_flashed_messages() }}</div>
            <input type="submit" value="Send Reset Link">
        </form>
    </div>
</body>
</html>
