<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- Add any other necessary styles or scripts -->
</head>
<body class="loggedin">
    <nav class="navtop">
        <div>
            <h1>Reset Password</h1>
        </div>
    </nav>
    <div class="content">
        <form action="{{ url_for('reset_password', token=token) }}" method="post">
            <label for="new_password">
                <i class="fas fa-key"></i>
            </label>
            <input type="password" name="new_password" placeholder="New Password" id="new_password" required>
            <label for="confirm_password">
                <i class="fas fa-key"></i>
            </label>
            <input type="password" name="confirm_password" placeholder="Confirm Password" id="confirm_password" required>
            <div class="msg">{{ get_flashed_messages() }}</div>
            <input type="submit" value="Reset Password">
        </form>
    </div>
</body>
</html>
